<!doctype html>
<html lang="ko">
    <head>
        <%- include('../views/partials/admin-head.ejs'); %>
        <link rel="stylesheet" href="/css/admin/admin-category.css" />

        <script type="module" src="/js/admin/admin-aside.js"></script>
        <script type="module" src="/js/admin/admin-category.js"></script>
        <title>관리자 - 카테고리관리</title>
    </head>
    <body>
        <div class="dashboard">
            <%- include('../views/partials/admin-aside.ejs'); %>
            <article class="article">
                <div class="title-box">
                    <h2 class="title">카테고리 관리</h2>
                </div>
                <section>
                    <ul class="list-category" id="listCategory">
                        <% categories.forEach(function(category){ %>
                        <li class="list-category-li">
                            <input
                                type="text"
                                class="input input-box"
                                value="<%= category.name %>"
                                readonly="readonly"
                            />
                            <p class="check-category"></p>

                            <div class="btn-box">
                                <button
                                    class="btn btn-main sm btn-update"
                                    data-id="<%=
                                category.id %>"
                                >
                                    수정
                                </button>
                                <button
                                    class="btn btn-main-line sm btn-delete"
                                    data-id="<%=
                                category.id %>"
                                >
                                    삭제
                                </button>
                                <button
                                    class="btn btn-main sm btn-add-newcategory"
                                    data-id="<%=
                                category.id %>"
                                >
                                    수정 완료
                                </button>
                            </div>
                        </li>
                        <% }); %>
                    </ul>

                    <div class="add-category">
                        <input type="text" id="inputCategory" class="input input-box" />
                        <p class="check-category" id="checkCategory"></p>

                        <input
                            type="submit"
                            data-id="test"
                            class="btn btn-main sm btn-submit"
                            id="createCategory"
                            value="등록"
                        />
                    </div>
                </section>
            </article>
        </div>
    </body>
</html>
