<!doctype html>
<html lang="ko">
    <div class="wrap">
        <head>
            <%- include('../views/partials/admin-head.ejs'); %>
            <link rel="stylesheet" href="/css/admin/admin-product-add.css" />

            <script type="module" src="/js/admin/admin-aside.js"></script>
            <script type="module" src="/js/admin/admin-product-edit.js"></script>
            <title>관리자 - 주문수정</title>
        </head>
        <body>
            <div class="dashboard">
                <%- include('../views/partials/admin-aside.ejs'); %>
                <article class="article">
                    <div class="title-box">
                        <h2 class="title">상품 수정</h2>
                    </div>
                    <section class="product-add-wrap">
                        <form
                            action="/api/product/<%= product.id %>"
                            enctype="multipart/form-data"
                            method="post"
                        >
                        <div class="image-box">
                            <img
                                class="user-image"
                                id="userImage"
                                src="/image/<%=product.image%>"
                            />
                        </div>
                        <div class="tbl-box">
                            <table class="tbl">
                                <colgroup>
                                    <col width="120px" />
                                    <col />
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th scope="row">상품명</th>
                                        <td>
                                            <input
                                                type="text"
                                                class="input input-box"
                                                id="inputName"
                                                name="name"
                                                value="<%=product.name%>"
                                                required
                                            />
                                            <p class="check" id="checkName"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">가격</th>
                                        <td>
                                            <input
                                                type="number"
                                                class="input input-box"
                                                id="inputPrice"
                                                name="price"
                                                value="<%=product.price%>"
                                                required
                                            />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">설명</th>
                                        <td>
                                            <textarea
                                                class="textarea"
                                                id="inputDescription"
                                                name="description"
                                                required
                                            >
    <%=product.description%></textarea
                                            >
                                            <p class="check" id="checkDescription"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">제조사</th>
                                        <td>
                                            <input
                                                type="text"
                                                class="input input-box"
                                                id="inputCompany"
                                                name="company"
                                                value="<%=product.company%>"
                                            />
                                            <p class="check" id="checkCompany"></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">카테고리</th>
                                        <td>
                                            <select class="select" name="categoryName" required>
                                                <% categories.forEach(category =>{ %>
                                            <option id="optionCategory" value="<%= category.name %>" 
                                                <% if (category.name === product.categoryName) { %> selected <% } %>>
                                                <%= category.name %>
                                                </option>
                                                <% }) %>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">이미지</th>
                                        <td>
                                            <div class="input-file-box">
                                                <span id="imageName" class="name"><%=product.image%></span>
                                                <input
                                                    type="file"
                                                    class="input"
                                                    id="addImage"
                                                    name="productImage"
                                                    accept="image/*"
                                                />
                                                <label
                                                    for="addImage"
                                                    class="btn btn-main sm"
                                                    id="addImageLabel"
                                                    >찾기</label
                                                >
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                
                            </table>

                        </div>
                            <div class="tbl-btn-box">
                                <a
                                href="/admin/product"
                                class="btn btn-main-line"
                                id="deleteProduct"
                                data-id="<%=product.id %>"
                                >삭제</a
                                >
                                <input type="submit" class="btn btn-main" value="수정 완료" />
                            </div>
                        </form>
                    </section>
                </article>
            </div>
        </body>
    </div>
</html>
