<!doctype html>
<html lang="ko">
    <div class="wrap">
        <head>
            <%- include('../views/partials/admin-head.ejs'); %>
            <link rel="stylesheet" href="/css/admin/admin-order.css" />

            <script type="module" src="/js/admin/admin-order.js"></script>
        </head>
        <body>
            <div class="dashboard">
                <%- include('../views/partials/admin-aside.ejs'); %>
                <article class="article">
                    <div class="title-box">
                        <h2 class="title">주문 관리</h2>
                    </div>
                    <section>
                        <div class="tbl-box">
                            <table class="tbl">
                                <thead>
                                    <th>날짜</th>
                                    <th>주문 상품</th>
                                    <th>주문 총액</th>
                                    <th>준비/배송 상태</th>
                                    <th>관리</th>
                                </thead>
                                <tbody id="orderList">
                                    <% orders.forEach(function(order){%>
                                    <tr>
                                        <td><%= order.createdAt%></td>
                                        <td><%= order.productNames%></td>
                                        <td><%= order.totalPrice%></td>
                                        <td>
                                            <select
                                                class="select sm select-delivery"
                                                data-id="<%= order.orderId %>"
                                            >
                                                <% const Status=['상품준비중', '배송준비중',
                                                '배송중', '배송완료']; %> <% Status.forEach( e =>{
                                                %> <% if(e == order.deliveryStatus ){ %>
                                                <option selected><%= e %></option>
                                                <% }else{ %>
                                                <option><%= e %></option>
                                                <% }}) %>
                                            </select>
                                        </td>
                                        <td>
                                            <button
                                                class="btn btn-main-line sm btn-delete-order"
                                                data-id="<%=order.orderId %>"
                                            >
                                                주문 취소
                                            </button>
                                        </td>
                                    </tr>
                                    <%});%>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </article>
            </div>
        </body>
    </div>
</html>
