<!doctype html>
<html lang="ko">
    <head>
        <%- include('../views/partials/head'); %>

        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" defer></script>
        <script type="module" src="/js/edit-user-info.js"></script>
        <title>마이페이지 - 개인정보수정</title>
    </head>

    <body class="container">
        <header class="header"><%- include('../views/partials/header'); %></header>

        <main role="main" class="contents">
            <div class="contents-inner">
                <div class="section-aside-wrap">
                    <aside class="aside">
                        <nav class="sidebar">
                            <h2 class="title">마이페이지</h2>
                            <ul class="sidebar-menu">
                                <li class="on">
                                    <a
                                        class="btn menu"
                                        href="/order/<%= userInfo.userId %>/orderList"
                                    >
                                        주문 내역
                                    </a>
                                </li>
                                <li>
                                    <a class="btn menu" href="/users/info">개인 정보 수정</a>
                                </li>
                                <li>
                                    <a class="btn menu" href="/users/info/edit/pw">비밀번호 변경</a>
                                </li>
                                <li>
                                    <a class="btn menu" href="/users/info/delete">회원 탈퇴 하기</a>
                                </li>
                            </ul>
                        </nav>
                    </aside>
                    <section class="section">
                        <h2 class="title">개인정보수정</h2>
                        <div class="contents">
                            <p class="tbl-caption"><span>변경 불가</span></p>
                            <div class="tbl-box">
                                <table class="tbl">
                                    <colgroup>
                                        <col width="200px" />
                                        <col />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <span class="required">이메일</span>
                                            </th>
                                            <td>
                                                <input
                                                    class="input input-box"
                                                    type="text"
                                                    id="emailInput"
                                                    value="<%= userInfo.email %>"
                                                    readonly
                                                />
                                                <p id="emailCheck"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <span class="required">이름</span>
                                            </th>
                                            <td>
                                                <input
                                                    class="input input-box"
                                                    type="text"
                                                    id="nameInput"
                                                    value="<%= userInfo.name %>"
                                                    readonly
                                                />
                                                <p id="nameCheck"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <span>휴대폰</span>
                                            </th>
                                            <td>
                                                <input
                                                    class="input input-box"
                                                    type="tel"
                                                    id="phoneNumInput"
                                                    value="<%= userInfo.phoneNumber %>"
                                                    placeholder="'-' 없이 번호만 입력해주세요"
                                                    maxlength="13"
                                                />
                                                <p id="phoneNumCheck"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <span>주소</span>
                                            </th>
                                            <td>
                                                <input
                                                    class="input input-box"
                                                    type="text"
                                                    id="addressInput"
                                                    value="<%= userInfo.address.address1 %>"
                                                    placeholder="우측 주소 검색을 클릭해주세요"
                                                    readonly
                                                />
                                                <button
                                                    id="addressCheckBtn"
                                                    class="btn btn-main-line"
                                                >
                                                    주소검색
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <span>상세주소</span>
                                            </th>
                                            <td>
                                                <input
                                                    class="input input-box"
                                                    type="text"
                                                    id="detailAddress"
                                                    value="<%= userInfo.address.address2 %>"
                                                    placeholder="상세주소를 입력해주세요"
                                                />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tbl-btn-box">
                                <a
                                    href="/order/<%= userInfo.userId %>/orderList"
                                    class="btn btn-main-line"
                                    >취소하기</a
                                >
                                <button id="editUserInfo" class="btn btn-main">회원정보수정</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <footer class="footer"><%- include('../views/partials/footer'); %></footer>
    </body>
</html>
