<!doctype html>
<html lang="ko">
    <head>
        <%- include('../views/partials/head'); %>

        <title>마이페이지 - 개인정보수정</title>
    </head>

    <body class="container">
        <header class="header"><%- include('../views/partials/header'); %></header>

        <main role="main" class="contents">
            <div class="contents-inner">
                <div class="section-aside-wrap">
                    <aside class="aside">
                        <nav class="sidebar">
                            <h2 class="title">마이페이지</h2>
                            <ul class="sidebar-menu">
                                <li class="on">
                                    <a
                                        class="btn menu"
                                        href="/order/<%= userInfo.userId %>/orderList"
                                    >
                                        주문 내역
                                    </a>
                                </li>
                                <li>
                                    <a class="btn menu" href="/users/info">개인 정보 수정</a>
                                </li>
                                <li>
                                    <a class="btn menu" href="/users/info/edit/pw">비밀번호 변경</a>
                                </li>
                                <li>
                                    <a class="btn menu" href="/users/info/delete">회원 탈퇴 하기</a>
                                </li>
                            </ul>
                        </nav>
                    </aside>
                    <section class="section">
                        <h2 class="title">개인정보수정</h2>
                        <div class="contents">
                            <p class="tbl-caption"><span>변경 불가</span></p>
                            <div class="tbl-box">
                                <table class="tbl">
                                    <colgroup>
                                        <col width="200px" />
                                        <col />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <span class="required">이메일</span>
                                            </th>
                                            <td>
                                                <input
                                                    class="input input-box"
                                                    type="text"
                                                    id="emailInput"
                                                    value="<%= userInfo.email %>"
                                                    readonly
                                                />
                                                <p id="emailCheck"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <span class="required">이름</span>
                                            </th>
                                            <td>
                                                <input
                                                    class="input input-box"
                                                    type="text"
                                                    id="nameInput"
                                                    value="<%= userInfo.name %>"
                                                    onchange="validateName()"
                                                    readonly
                                                />
                                                <p id="nameCheck"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <span>휴대폰</span>
                                            </th>
                                            <td>
                                                <input
                                                    class="input input-box"
                                                    type="tel"
                                                    id="phoneNumInput"
                                                    value="<%= userInfo.phoneNumber %>"
                                                    placeholder="'-' 없이 번호만 입력해주세요"
                                                    onchange="validatePhoneNum()"
                                                    maxlength="13"
                                                />
                                                <p id="phoneNumCheck"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <span>주소</span>
                                            </th>
                                            <td>
                                                <input
                                                    class="input input-box"
                                                    type="text"
                                                    id="addressInput"
                                                    value="<%= userInfo.address.address1 %>"
                                                    placeholder="우측 주소 검색을 클릭해주세요"
                                                    readonly
                                                />
                                                <button
                                                    id="addressCheckBtn"
                                                    class="btn btn-main-line"
                                                    onclick="openKakaoMap()"
                                                >
                                                    주소검색
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <span>상세주소</span>
                                            </th>
                                            <td>
                                                <input
                                                    class="input input-box"
                                                    type="text"
                                                    id="detailAddress"
                                                    value="<%= userInfo.address.address2 %>"
                                                    placeholder="상세주소를 입력해주세요"
                                                />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tbl-btn-box">
                                <a
                                    href="/order/<%= userInfo.userId %>/orderList"
                                    class="btn btn-main-line"
                                    >취소하기</a
                                >
                                <button
                                    id="editUserInfo"
                                    class="btn btn-main"
                                    onclick="editUserInfoChange()"
                                >
                                    회원정보수정
                                </button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <footer class="footer"><%- include('../views/partials/footer'); %></footer>

        <script>
            // 휴대폰 번호 유효성 검사
            function validatePhoneNum() {
                const $phoneNumInput = document.querySelector('#phoneNumInput');
                const $phoneNumCheck = document.querySelector('#phoneNumCheck');
                const $phoneNumRegex = /^[0-9]+$/; //숫자로만 입력 가능

                if ($phoneNumInput.value.match($phoneNumRegex)) {
                    $phoneNumCheck.style.fontSize = '12px';
                    $phoneNumCheck.textContent = '올바른 휴대폰 번호입니다.';
                    $phoneNumCheck.style.color = 'blue';
                    return true;
                } else {
                    $phoneNumCheck.style.fontSize = '12px';
                    $phoneNumCheck.textContent = '휴대폰 번호는 숫자로 입력해주세요.';
                    $phoneNumCheck.style.color = 'red';
                    return false;
                }
            }

            // 개인정보 수정 조건 검사
            function validateCondition() {
                const isPhoneNumValid = validatePhoneNum();
                if (isPhoneNumValid) {
                    editUserInfoChange();
                } else {
                }
            }

            // 유저 정보 변경 요청
            async function editUserInfoChange() {
                const $emailInput = document.querySelector('#emailInput').value;
                const $nameInput = document.querySelector('#nameInput').value;
                const $phoneNumInput = document.querySelector('#phoneNumInput').value;
                const $addressInput = document.querySelector('#addressInput').value;
                const $detailAddressInput = document.querySelector('#detailAddress').value;

                // 서버에 요청하여 수정된 정보를 받아옴
                const updatedData = {
                    email: $emailInput,
                    name: $nameInput,
                    phoneNumber: $phoneNumInput,
                    address: {
                        address1: $addressInput,
                        address2: $detailAddressInput,
                    },
                };

                try {
                    // 서버에 수정된 정보 전송
                    const res = await fetch('/api/users/info/edit', {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(updatedData),
                    });

                    if (res.ok) {
                        // 성공적으로 수정되었을 경우 처리
                        // 화면에 출력하는 로직 추가
                        alert('개인정보 수정에 성공하였습니다');
                        window.location.href = '/users/info'; // 수정 완료 후 이동할 페이지 URL
                    } else {
                    }
                } catch (error) {}
            }
        </script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>
            function openKakaoMap() {
                new daum.Postcode({
                    oncomplete: function (data) {
                        var $addressInput = document.querySelector('#addressInput');
                        $addressInput.value = data.address;
                        $addressInput.focus();
                    },
                }).open();
            }
        </script>
    </body>
</html>
